xsd-parser/tests/xsd_string/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">
    <xsd:complexType name="FooType">
        <xsd:sequence>
            <xsd:element name="Text" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Foo" type="tns:FooType"/>
</xsd:schema>
