xsd-parser/src/tests/all/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">
    <xs:complexType name="FooType">
        <xs:all>
            <xs:element name="A" type="xs:string"/>
            <xs:element name="B" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType"/>
</xs:schema>
