xsd-parser/tests/extension_base_two_files/input2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://other.example.com"
           targetNamespace="http://other.example.com"
           elementFormDefault="qualified">

    <xs:complexType name="BarType">
        <xs:sequence>
            <xs:element name="b" type="xs:int"/>
            <xs:element name="c" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
