xsd-parser/tests/ref_to_attribute/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">

    <xs:attribute name="id">
        <xs:simpleType>
            <xs:restriction base="xs:string" />
        </xs:simpleType>
    </xs:attribute>

    <xs:complexType name="FooType" >
        <xs:attribute ref="tns:id" />
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType"/>
</xs:schema>
