xsd-parser/tests/complex_type/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">
    <xs:complexType name="FooType">
        <xs:sequence>
            <xs:element name="Min" type="xs:int"/>
            <xs:element name="Max" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType"/>
</xs:schema>
