xsd-parser-rs/src/tests/choice/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">

    <xs:simpleType name="BarType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="BazType">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:complexType name="FooType">
        <xs:choice>
            <xs:element name="Bar" type="tns:BarType"/>
            <xs:element name="Baz" type="tns:BazType"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType"/>
</xs:schema>
